.notices {

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--gui {
            gap: rem(32px);
            overflow: hidden;
        }
    }

    &__item {
        width: rem(286px);
        height: rem(150px);

        flex-shrink: 0;
    }
}