.textarea {
    position: relative;

    display: flex;
    flex-direction: column;

    &__label {
        position: absolute;
        top: rem(-18px);

        color: $color-text;

        &--disabled {
            color: $color-disabled;
        }
    }

    &__field {
        width: 100%;
        height: rem(100px);

        background-color: $color-white;

        border: rem(1px) solid $color-border;
        border-radius: $main-border-radius;

        padding: rem(17px) rem(20px);

        resize: none;
        outline: none;

        &:focus {
            border-color: $light-slate-grey;
        }

        &::-webkit-input-placeholder {
            color: $color-input-text;
            font-size: rem($font-size-tiny);
        }
        
        &:-moz-placeholder {
            color: $color-input-text;
        }

        &--disabled {
            background-color: $color-no-active;
        }
    }
}