// .user {

//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     gap: rem(20px);

//     &__icon {
//         width: rem(36px);
//         height: rem(36px);
    
//         border-radius: 50%;

//         @media #{$screen-tablet} {
//             width: rem(48px);
//             height: rem(48px);
//         }

//         @media #{$screen-desktop} {
//             width: rem(64px);
//             height: rem(64px);
//         }
//     }

//     &__name {
//         font-size: $font-size-tiny;
//         line-height: rem(19px);

//         font-weight: $font-weight-medium;

//         flex-grow: 1;

//         margin: 0;

//         -webkit-line-clamp: 2;
//         display: -webkit-box;
//         -webkit-box-orient: vertical;
//         overflow: hidden;

//         @media #{$screen-tablet} {
//             font-size: $font-size-base;
//             line-height: rem(22px);
//         }

//         @media #{$screen-desktop} {
//             font-size: $font-size-large;
//             line-height: rem(33px);
//         }
//     }

//     &__date {
//         font-size: rem(10px);

//         margin: 0;

//         color: rgba(1, 28, 40, 0.35);

//         @media #{$screen-tablet} {
//             font-size: rem(11px);
//         }

//         @media #{$screen-desktop} {
//             font-size: rem($font-size-tiny);
//         }
//     }

// }