.slider {

    margin-bottom: rem(60px);

    &__title {
        display: none;
    }

    &__box {
        position: relative;
    }

    .swiper {


        &-slide {

            &--infinity {
                width: auto;
                opacity: 0.5;

            }

            &-active {
                opacity: 1;
            }
        }

        &-pagination {
            position: relative;
            bottom: 0;
            margin-top: 10px;

            &-bullet-active {
                background-color: $tapestry;
            }
            
        }
    }

    &__buttons {
        position: absolute;
        top: 50%;
        right: 0;
        left: 50%;

        transform: translateX(-50%);

        z-index: 100;

        display: none;

        width: 100%;
        max-width: rem($width-container + 2 * $gap-container);
        height: 0;
        margin-right: 0 auto 0;
        padding-left: rem($gap-container);
        padding-right: rem($gap-container);

        @media #{$screen-tablet} {
            display: block;
        }

        &-item {
            width: auto;
            height: auto;

            &::after {
                content: '';
            }
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: rem(36px);
        height: rem(36px);

        border: 0;
        background-color: $color-slider-button;

        box-shadow: 0px 4px 12px rgba(38, 94, 107, 0.25);

        @media #{$screen-desktop} {
            width: rem(48px);
            height: rem(48px);
        }

        &:hover,
        &:focus {
            background-color: $color-slider-hover-button;
        }

        &--prev & {
            &-icon {
                transform: rotate(180deg);
            }
        }

        &-icon {
            width: rem(26px);
            height: rem(26px);

            color: rgba($color-arrow, .8);

            @media #{$screen-desktop} {
                width: rem(36px);
                height: rem(36px);
            }

            &:hover,
            &:focus {
                color: $color-white;
            }

        }
    }

    &__pagination {
        position: absolute;
        display: none;

        @media #{$screen-desktop} {
            display: block;
        }

    }
}